<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
    <header class="page-header">
      <div class="container">
          <a href="{% url 'post_new' %}" class="top-menu">
                 {% include './icons/1570429633bomb.svg' %}
          </a>
          <h1><a href="/">Make SA great I guess</a></h1>
          {% if user.is_authenticated %}
            <h3>welcome, {{user.get_username}} click on the bomb to add post</h3>
          {% else %}
            <h3>You are not registered yet dumbass</h3>
            <h3><a href="{%url 'registration'%}" class="registration button">click here to register</a></h3>
          {% endif %}
      </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>
</body>
</html>